:root {
    --border: 2px solid darkblue;
    --text-shadow: darkblue 2px 2px 2px;
}

main {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.opening p {
    color: white;
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-shadow: var(--text-shadow);
}

.content .form {
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 70%);
    margin: 0 auto;
    padding-top: 30px;
    border: var(--border);
    border-radius: 5%;
    box-shadow: #777d89 3px 3px 3px;
}

.form form {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". ."
        ". ."
        "button button";
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

form label {
    color: darkblue;
    font-weight: 700;
}

form select, input {
    width: 80%;
    height: 4vh;
    margin: 10px;
}

.button { 
    grid-area: button; 
    margin: 0 auto;
}

div .info {
    height: 300px;
    width: 400px;
    background-color: rgba(190, 203, 236, 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    border: var(--border);
    box-shadow: #777d89 3px 3px 3px;
}

.info-element {
    margin: 15px;
}

#date-form-1 {
    font-size: 1.1rem;
}

#showWX {
    text-align: center;
    font-size: 1.1rem;
}

#weather-icon img{
    width: 120px;
    height: auto;
}

.main {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 576px) {
    .opening{
        margin-top: 50%;
        padding-top: 0.5em;
        text-align: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        height: 600px;
    }

    .content .form {
        margin: 0 auto;
        padding-top: 0px;
    }

    .form form {
        display: flex;
        flex-direction: column;
    }

    div .info{
        width: 90vw;
        height: auto;
        margin: 4rem auto 0;
    }
}

@media only screen and (min-width:577px) and (max-width: 1024px) {
    .opening{
        margin-top: 4rem;
        text-align: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        height: 600px;
    }

    .form form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 70%;
    }

    div .info{
        width: 90vw;
        height: auto;
        margin: 4rem auto 0;
    }
}   