:root {
    --secondary-color: rgb(66, 63, 231);
    --border: 2px solid darkblue;
    --text-shadow: darkblue 2px 2px 2px;
}

.container {
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
}

.logo a {
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.button { 
    grid-area: button; 
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 3em;
    text-shadow: var(--text-shadow);
}

h3 {
    color: white;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-shadow: var(--text-shadow);
}

.details {
    height: 60vh;
    width: 70vw;
    background-color: rgba(255, 255, 255, 70%);
    margin: 1em auto 0;
    padding-top: 30px;
    border: var(--border);
    border-radius: 5%;
    box-shadow: #777d89 3px 3px 3px;
}

.details h3 {
    color: var(--secondary-color);
    text-shadow: none;
    text-align: center;
}

.main-text {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.weather, .selectedItems {
    padding: 2rem;
    margin: 2rem;
    font-size: 1.2rem;
}

.weather h4 {
    color: black;
}

h4 {
    text-align: center;
    color: var(--secondary-color);
}

@media only screen and (max-width: 576px) {
    .thankyou {
        margin-top: 15%;
    }

    .details {
        height: auto;
        width: 90vw;
        padding-bottom: 5rem;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .weather, .selectedItems {
        padding: 0.5rem;
        margin: 0;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width:577px) and (max-width: 1024px) {

    .details {
        height: auto;
        width: 70vw;
        padding-bottom: 2rem;
        margin-bottom: 0;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .weather, .selectedItems {
        padding: 0.5rem;
        margin: 0;
        font-size: 1.2rem;
    }
}