:root {
    --main-color: #4c68a0;
    --secondary-color: rgb(66, 63, 231);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body, footer {
    background-image: url(./images/jumbotron.jfif);
    background-size: cover;
}

.logo {
    margin: 0.2em 0 0 0.5em;
}

.logo img {
    height: 30px;
    width: auto;
    justify-self: flex-start;
}

nav li {
    text-decoration: none;
    display: inline-block;
    margin: 0.5em;
}

a {
    text-decoration: none;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#nav-links ul {
    font-size: 1em;
    margin-right: 2em;
}

#nav-links a {
    position: relative;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.5em;
    color: white;
}

#nav-links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #9bd4eb;
    transition: 0.4s;
}

#nav-links a:hover::after {
    width: 100%;
}

#nav-links select {
    background-color: var(--main-color);
    color: white;
    border: 2px solid darkblue;
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 4px 4px rgb(132, 130, 236);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;    
    transform: scale(1.25);
}

.popup .form-login h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form-login .form-element {
    margin: 15px 0px;
}

.popup .form-login label {
    font-size: 14px;
    color: #222;
}

.popup .form-login .form-element input[type="text"],
.popup .form-login .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form-login .form-element input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.popup .form-login .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: var(--secondary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form-login .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
}

button {
    margin-top: 20px;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    height: 40px;
    width: 90px;
}

button a {
    color: white;
}

button:hover {
    background: linear-gradient(#4c68a0, rgb(66, 63, 231));
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    background-color: rgba(66, 63, 231, 50%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    font-size: 0.8rem;
}
footer i {
    padding: 0.3rem;
    color: darkblue;
}

@media only screen and (max-width: 576px) {

    #main-nav {
        display: flex;
        align-content: space-evenly;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }

    #nav-links ul {
        font-size: 1.3em;
        margin: 0 auto;
        float: right;
        padding-right: 0.5em;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 2.5em;
    }
}

@media only screen and (min-width:577px) and (max-width: 1024px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 2.5em;
    }
} 