*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  font-size: 16px;
}

.logo {
  margin: 0.2em 0 0 0.5em;
}

.logo img {
  height: 30px;
  width: auto;
  justify-self: flex-start;
}

nav li {
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
}

a {
  text-decoration: none;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #4c68a0;
}

#main-nav ul {
  font-size: 1em;
  margin-right: 2em;
}

#main-nav a {
  position: relative;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.5em;
  color: white;
}

#main-nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #9bd4eb;
  transition: 0.4s;
}

#main-nav a:hover::after {
  width: 100%;
}

#main-nav select {
  background-color:#4c68a0;
  color: white;
  border: 2px solid darkblue;
}

.back {
  background-color: #fafbfc;
}

main {
  display: flex;
  justify-content: space-evenly;
  background-color: #fafbfc;
}

.plane {
  margin: 20px;
  width: 300px;
}
.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}
.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}
.exit {
  position: relative;
  height: 50px;
}
.exit:before, .exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 2px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: green;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}
.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.seat {
  display: flex;
  flex: 0 0 14.2857142857%;
  padding: 5px;
  position: relative;
}
.seat:nth-child(3) {
  margin-right: 14.2857142857%;
}
.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.seat input[type=checkbox]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type=checkbox]:disabled + label {
  background: #ddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type=checkbox]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type=checkbox]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #f42536;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, .4);
  border-radius: 3px;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5c6aff;
}

.others {
  display: flex;
  flex-direction: column;
  align-content: center;
}

button {
  margin-top: 20px;
  background-color: #4c68a0;
  color: white;
  font-weight: 700;
  height: 40px;
  width: 90px;
}

button a {
  color: white;
}

button:hover {
  background: linear-gradient(#4c68a0, rgb(66, 63, 231));
}

footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(./images/jumbotron.jfif);
  background-size: cover;
}

footer p {
  font-size: 0.8rem;
}
footer i {
  padding: 0.3rem;
  color: darkblue;
}